[Unit]
Description=Simple Stateful firewall

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/usr/bin/simplestatefulfirewall.sh
PrivateTmp=yes
InaccessibleDirectories=/home
ReadOnlyDirectories=/var
LimitNPROC=1
LimitFSIZE=1048576
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_RAW
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_RAW
PrivateNetwork=no

[Install]
WantedBy=multi-user.target